body {
	background-color: var(--color-tertiary1)
}

#fullpage {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

/*Overide*/
#fp-nav {
	right: 5px!important;
}
/*Overide*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: var(--color-secondary1)!important;
}
/*Overide*/
#fp-nav ul li .fp-tooltip {
	color: var(--color-secondary1)!important;
	background-color: white!important;
	padding: 2px 5px;
	border-radius: 50px; 
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
	-webkit-filter: drop-shadow(0px 0px 0px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
	-moz-filter: drop-shadow(0px 0px 0px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
	-ms-filter: drop-shadow(0px 0px 0px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
	-o-filter: drop-shadow(0px 0px 0px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
	filter: drop-shadow(0px 0px 0px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
}

.section {
	/*background: transparent url('../img/chain.svg')repeat-y 50% top / calc(100vh / 20);*/
	/*background-color: var(--color-primary1);*/
}

.section .section-container {
	position: relative;
	display: block;
	padding: 40px; 
	width: 100%;
	height: 100%;
}

.section .section-container .section-card {
	position: relative;
	display: flex;
	padding: 10px; 
	width: 100%;
	height: 100%;
	/*background-color: var(--color-primary2);
	overflow: hidden;*/

	/*-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-o-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/


	/*border: 10px solid black;*/
}

.section .section-container .section-card > .left {
	position: relative;
	height: 100%;
}

.section .section-container .section-card > .right::before {
	content: '';
	position: absolute;
	display: block;
	top: -50px;
    left: calc(-50vw);
    width: 100vw;
    height: 100vh;
	background: transparent url('../img/slice.svg')no-repeat 50% 50% / cover;
}

.section .section-container .section-card > .right {
	position: relative;
	height: 100%;
}
